@model Movie

@{
    ViewData["Title"] = "Movie details";
}

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card mb-4 shadow-sm">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-header bg-white text-black">
                        <h5 class="card-title mb-0">
                            @Model.Name
                        </h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="@Model.ImageURL" class="img-fluid" alt="@Model.Name">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <b>Producer: </b>
                            <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ProducerId">
                                @Model.Producer.FullName
                            </a>
                        </p>
                        <p class="card-text"><b>Category: </b>@Model.MovieCategory</p>
                        <p class="card-text"><b>Release Date: </b>@Model.ReleaseDate.ToString("dd MMM yy")</p>
                        <p class="card-text">
                            <b>Actors: </b>
                            <hr />
                            <div class="row">
                                @foreach (var actor in Model.Actors_Movies)
                                {
                                    <div class="col-md-4 text-center mb-3">
                                      
                                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId">@actor.Actor.FullName</a>
                                    </div>
                                }
                            </div>
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card-footer text-right">
                        <a class="btn btn-outline-primary" asp-action="Index">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                          