@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of all the Movies";
}

<div class="container">
    <div class="header-container my-4 p-3 shadow-sm">
        <h2 class="text-center">List of all the Movies</h2>
        <form class="form-inline d-flex justify-content-center" asp-controller="Movies" asp-action="Filter">
            <input name="searchString" type="text" class="form-control mr-sm-2" placeholder="Search for a movie..." aria-label="Search">
            <button class="btn btn-custom my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>
    <div class="row">


        @foreach (var item in Model)
        {
            <div class="col-xl-4 col-lg-2 col-md-3 col-sm-12 mb-3">
                <div class="card h-100">
                    <img src="@item.ImageURL" class="card-img-top" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                        <p class="card-text"><strong>Genre:</strong> @item.MovieCategory</p>
                        <p class="card-text"><strong>Release Date:</strong> @item.ReleaseDate.ToString("dd-MM-yyyy")</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <span class="text-warning">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
                                <span>4.5 (413)</span>
                            </div>
                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <a class="text-primary" asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                            }
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Read more</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Movies")
